//Variables
@green: #92D050;
@primaryColor        : #072B62; //blue
@secondaryColor      : @green; //green
@otherColor        : white; //tan

@invertedBackground: @secondaryColor;
@invertedItemTextColor: @primaryColor;
@invertedActiveColor: lighten(@secondaryColor, 25%);
@invertedActiveHoverColor: lighten(@secondaryColor, 12%);
@invertedHoverColor: lighten(@secondaryColor, 12%);
@invertedMenuPressedColor: lighten(@secondaryColor, 12%);

@pageBackground: @primaryColor;

@greenTextColor: @primaryColor;
@greenHoverColor: lighten(@primaryColor, 20%);
@greenFocusColor: lighten(@primaryColor, 20%);
@greenDownColor: lighten(@primaryColor, 20%);
@greenActiveColor: lighten(@primaryColor, 20%);

@text-bg: @otherColor;